AddDefaultCharset UTF-8
<IfModule mod_mime.c>
  AddCharset UTF-8 .html
</IfModule>

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^$ index.html [L]
RewriteRule ^community/?$ community.html [L]
RewriteRule ^the-vault/?$ vault-hosted.html [L]
RewriteRule ^setup/?$ setup.html [L]
